/* ==========================================================================
Main page styles
========================================================================== */
.pad {
  display: inline-block;
  // width: 100%;
  height: 550px;
  flex: 1;
  background: url('../../../content/images/the-new-york-public-library-3yTft26WbtY-unsplash.jpg') no-repeat center top;
  background-size: contain;
}

.homeTitle {
  text-align: center;
  font-size: 40px;
  font-family: Alegreya;
  font-kerning: normal;
}

.homeSubtitle {
  text-align: center;
  font-size: 15px;
  font-family: Alegreya;
  font-kerning: normal;
}
